<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ColorSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39E23A731F663F6B00E3F174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39E23A871F663F6B00E3F174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39E23A921F663F6B00E3F174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
